<div class="modal-content-sample">
    <h5 style="margin-bottom: 20px; text-align: center; font-size: 1.5rem">Modal</h5>
    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut deleniti ducimus, et facilis id incidunt
        modi nihil quas quo quos sunt. Cum eum exercitationem nihil odio quae quasi voluptatem.</p>
</div>