.h-dependencies {
  display: flex;
  align-items: center;
  justify-content: center;

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  &-element {
    margin: 20px;
  }
}
