{% from '../../components/link/link.njk' import link %}

{% set Dependencies = [
    { name: 'Vituum', url: 'https://vituum.dev/' },
    { name: 'ESLint', url: 'https://eslint.org/' },
    { name: 'Prettier', url: 'https://prettier.io/' },
    { name: 'PostCSS', url: 'https://vituum.dev/plugins/postcss' },
    { name: 'CSSNano', url: 'https://cssnano.co/' },
    { name: 'PostHTML', url: 'https://vituum.dev/plugins/posthtml' },
    { name: 'ViteImageOptimizer', url: 'https://github.com/FatehAK/vite-plugin-image-optimizer' }
] %}

<section class="h-dependencies section">
    <div class="h-dependencies-list">
        {% for element in Dependencies %}
            {{ link({name: element.name, url: element.url, class: 'h-dependencies-element'}) }}
        {% endfor %}
    </div>
</section>
