.s-radio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.s-radio-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.s-radio-element {
  margin: 1rem;
}
