<section class="s-modal s-section section">
    <h3 class="s-modal-title s-title">
        Modal
    </h3>

    <div class="s-modal-content">
        <button data-modal-opener="sample" class="button s-modal-button">
            <span>Open modal</span>
        </button>
    </div>
</section>
