{% extends "./src/extends/base.njk" %}

{% block title %}Components | {{ super() }}{% endblock %}

{% block content %}
    {% include './src/blocks/modalSample/modalSample.njk' %}
    {% include './src/blocks/modalForSample/modalForSample.njk' %}

    {% include './src/blocks/accordionSample/accordionSample.njk' %}

    {#    TODO: select   #}
    {#    TODO: radio   #}
    {#    TODO: list-marked   #}
    {#    TODO: list-numbered   #}

    {% include './src/blocks/pageLinks/pageLinks.njk' %}
{% endblock %}
