{#  props: { name: "", class?: "", classOverlay?: "" , classContent?: "" }   #}
{% macro modal(props) %}
    <div
            data-modal="{{ props.name }}"
            class="modal {% if props.class %}{{ props.class }}{% endif %}"
    >
        <div
                data-modal-closer
                class="modal-overlay {% if props.classOverlay %}{{ props.classOverlay }}{% endif %}"
        ></div>

        <div class="modal-content {% if props.classContent %}{{ props.classContent }}{% endif %}">
            <button data-modal-closer class="modal-closer">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                >
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </button>
            {% if props.name === "sample" %}
                {% include '../modalContentSample/modalContentSample.njk' %}
            {% elseif props.name === "test" %}
                test
            {% endif %}
        </div>
    </div>
{% endmacro %}
