{% from '../../components/modal/modal.njk' import modal %}

{{ modal({
    name: "sample",
    class: "sample-modal",
    classOverlay: "sample-modal-overlay" ,
    classContent: "sample-modal-content"
}) }}


