.h-links {
  display: flex;
  align-items: center;
  justify-content: center;

  &-list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-element {
    margin: 30px;
    width: min(150px, calc(100vw - 80px));
    height: min(150px, calc(100vw - 80px));
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      margin: 20px;
    }

    & > * {
      width: 100%;
      height: 100%;
    }

    &:last-child > *{
      min-width: calc(100% + 20px);
      height: calc(100% + 20px);
    }
  }
}
