<section class="h-links section">
    <div class="h-links-list">
        <a href="https://vitejs.dev" target="_blank" class="h-links-element">
            <img src="/vite.svg" class="logo" alt="Vite logo" />
        </a>

        <a href="https://www.typescriptlang.org/" target="_blank" class="h-links-element">
            <img src="/src/assets/svg/ts.svg" class="logo" alt="Typescript logo" />
        </a>

        <a href="https://mozilla.github.io/nunjucks/" class="h-links-element" target="_blank">
            <img src="/src/assets/svg/nunjucks.svg" class="logo logo_njk" alt="Nunjucks logo" />
        </a>
    </div>
</section>
