{% from '../../components/button/button.njk' import button %}

<section class="h-buttons section">
    {{ button({text: "Repository", url: "/", class: "h-buttons-element"}) }}
    {{ button({text: "Try on github pages", url: "/", class: "h-buttons-element"}) }}
</section>