{% from '../../components/button/button.njk' import button %}

<section class="h-buttons section">
    {{ button({
        text: "Repository",
        url: "https://github.com/Sergey-Maxim0v/starter-vite-ts-nunj",
        class: "h-buttons-element"
    }) }}
    {{ button({
        text: "Try on github pages",
        url: "https://sergey-maxim0v.github.io/starter-vite-ts-nunj/",
        class: "h-buttons-element"
    }) }}
</section>