<section class="section pageLinks">
    <a data-page-link-home href="/" class="pageLinks-element">page Home</a>
    <br>
    <a data-page-link-vite href="/" class="pageLinks-element">page Vite</a>
    <br>
    <a data-page-link-components href="/" class="pageLinks-element">page Component samples</a>
</section>