.link {
  height: 32px;
  border-radius: 16px;
  padding: 4px 10px;
  border: 1px solid currentColor;
  background-color: #242424;
  color: white;
  transition: background-color 0.2s, color 0.2s;

  &:hover, &:focus,
  &:focus-visible {
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  }

  @media (prefers-color-scheme: light) {
    color: #213547;
    background-color: #ffffff;

    &:hover, &:focus,
    &:focus-visible {
      color: #ffffff;
      background-color: #213547;
    }
  }
}